@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    @*<script src="~/Scripts/Template/jquery.min.js"></script>*@
    @*<link href="~/Scripts/vue/element-ui/index.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/vue/vue.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    @*<script src="~/Scripts/vue/element-ui/index.js"></script>*@
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })


            //var app = new Vue({
            //    el: '#container',
            //    data: {
            //        datalist: [{ "username": "asdasd" }, { "username": "asd123123" }],
            //        message: "hello"
            //    },
            //    created: function () {
            //        //let that = this;
            //        //$.ajax({
            //        //    url: '/bw/inoutbound/testdata',
            //        //    type: 'get',
            //        //    dataType: 'json',
            //        //    success: function (jsonData) {
            //        //        that.datalist = jsonData;
            //        //    }
            //        //})
            //    }
           // })
    </script>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
    </div>
</body>
</html>
