<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <appSettings>
    <add key="JKLoggerName" value="JKLogger" />
  </appSettings>

  <log4net>
    <root>
      <priority value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="JKLogger">
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
  </log4net>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">
        <!-- 数据库的版本 -->
        NHibernate.Dialect.MySQL5Dialect<!--连接MYSQL-->
        <!--NHibernate.Dialect.MsSql2008Dialect--> <!--连接MSSQL-->
      </property>
      <property name="connection.driver_class">
        <!-- 使用什么数据库 -->
        NHibernate.Driver.MySqlDataDriver<!--连接MYSQL-->
        <!--NHibernate.Driver.Sql2008ClientDriver--> <!--连接MSSQL-->
      </property>
      <property name="connection.connection_string">
        <!--server=localhost;database=wangyc;uid=root;pwd=liwenwen;--><!--MYSQL本地登录-->
        server=47.104.235.193;database=wangyc;uid=wangyc;pwd=liwenwen851126<!--MYSQL本地登录-->
        <!--Data Source=.;Initial Catalog=WangYc;Persist Security Info=False;Integrated Security=true;Max Pool Size=512--><!--MSSQLWindows登录验证-->
        <!--Data Source=.;Initial Catalog=WangYc;User ID=sa;Password=sa;Max Pool Size=512--><!--MSSQL用户名登录-->
        <!--Data Source=47.104.235.193;Initial Catalog=WangYc;User ID=sa;Password=liwenwen851126;Max Pool Size=512-->
      </property>
      <property name="show_sql">false</property>
      <!-- 是否打印执行的SQL语句 -->
      <property name="adonet.batch_size">10</property>
      <property name="command_timeout">6000</property>
      <property name="query.substitutions">
        true 1, false 0, yes 'Y', no 'N'
      </property>
      <property name="cache.provider_class">
        NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache
      </property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
    </session-factory>
  </hibernate-configuration>
</configuration>